/web/bundles/
/web/uploads/
/web/assets/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
docker/data/bash_history
.env
/web/images/products/*
/web/media/cache/my_cropper/images/products/
.idea
npm-debug.log
node_modules/
docker-compose.override.yml
docker/settings/env_access
/data
/web/css/
/.bundle/
yarn-error.log
.php_cs.cache
.DS_Store

!/web/uploads/products/.gitkeep
!/web/uploads/posts/.gitkeep
